@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
    background: linear-gradient(270deg, #004B6B 0.66%, #3B7481 99.95%, #04177C 99.96%);
    font-family: 'Lato';
}

.row {
    padding-top: 3vh;
}

.page-title {
    color: azure;
    margin-top: 5vh;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.custom-button {
    background-color: #ffffff00;
    border-color: azure;
    color: azure;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 3px 6px;
}

.custom-button:hover {
  background-color: azure !important;
  border-color: #ffffff00;
  color: #3B7481 99.95%;
  font-weight: 400;
  border-width: 3px;
  text-decoration: none;
}

.custom-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f0ffffee;
}

.previous-message-title {
  color: azure;
}

.custom-modal-button {
  background-color: #ffffff00;
  border-color: rgb(13, 66, 66);
  color: rgb(13, 66, 66);
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 3px 6px;
}

.custom-modal-button:hover {
  background-color: rgb(13, 66, 66) !important;
  border-color: #ffffff00;
  color: azure;
  font-weight: 400;
  border-width: 3px;
  text-decoration: none;
}

